.card-list {
    width: 75%;
    margin: 0 auto;
}

.card:hover {
    box-shadow: var(--bs-box-shadow) !important;
    /*filter: drop-shadow(0px 5px 5px grey);*/
}

.character-icon {
    width: 96px;
    height: 96px;
    margin-top: var(--bs-card-spacer-y);
    align-self: center;
}

.card-width {
    width: 15em;
}

.logo {
    position: absolute;
    left: 9em;
    top: 86px;
    width: 32px;
    height: 32px;
}

img {
    display: none;
}

img[src] {
   display: block;
 }
